{
    "extends": [
        "airbnb"
    ],
    "parser": "babel-eslint",
    "parserOptions": {
        "sourceType": "module",
        "ecmaFeatures": {
            "legacyDecorators": true
        }
    },
    "env": {
        "browser": true,
        "node": true,
        "mocha": true,
        "es6": true,
        "jest": true
    },
    "globals": {
        "expect": true,
        "sinon": true,
        "Promise": true
    },
    "plugins": [
        // none
    ],
    "rules": {
        "arrow-parens": ["error", "as-needed"],
        "comma-dangle": ["error", "never"],
        "indent": ["error", 4],
        "import/first": 0,
        "import/newline-after-import": ["error", { "count": 1 }],
        "import/prefer-default-export": 0,
        "jsx-a11y/click-events-have-key-events": 0,
        "max-len": [
            "error",
            {
                "code": 150,
                "ignoreComments": true,
                "ignoreUrls": true,
                "ignoreStrings": true,
                "ignoreTemplateLiterals": true,
                "ignoreRegExpLiterals": true
            }
        ],
        "no-alert": 0,
        "no-bitwise": 0,
        "no-plusplus": 0,
        "no-unused-vars": 0,
        "no-trailing-spaces": ["error", { "ignoreComments": true }],
        "padded-blocks": ["error", "never",{ "classes": "always" ,"allowSingleLineBlocks": false }],
        "padding-line-between-statements": [
            "error",
            { "blankLine": "always", "prev": ["const", "let", "var"], "next": "*" },
            { "blankLine": "any", "prev": ["const", "let", "var"], "next": ["const", "let", "var"] }
        ],
        "prefer-destructuring": 0,
        "quote-props": ["error", "as-needed", { "keywords": true, "numbers": true }],
        "quotes": ["error", "single"],
        "react/destructuring-assignment": 0,
        "react/forbid-prop-types": ["error", { "forbid": "any" }],
        "react/jsx-filename-extension": 0,
        "react/jsx-indent": ["error", 4],
        "react/jsx-indent-props": ["error", 4],
        "react/jsx-no-target-blank": 0,
        "react/no-danger": 0,
        "strict": 0
    }
}
